.post-thumbnails {
  margin-bottom: 120px;
}

input[type="text"],
select[class="form-control"],
input[type="new-post-form"],
textarea[class="form-control"] {
  background-color: white;
}

.new-post-form {
  margin-top: 20px;
}
