$primary: rgb(74, 74, 189);
$secondary: pink;
$body-bg: rgb(218, 217, 230);

.button {
  background-color: $primary;

  &:hover {
    background-color: darken($primary, 10%);
  }
}

.error-message {
  color: red;

  .button {
    background-color: rgb(74, 74, 189);
  }
}

.theme {
  .button {
    background-color: $primary;
  }
}

body {
    background-color: rgb(218, 217, 230);
  }

  input[type="email"],
  input[type="password"] {
    background-color: white;
  }

  body {
    background-color: rgb(218, 217, 230);
  }
  
  // Override background color
  .form-control {
    background-color: white;
  }

  .custom-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px 0;
  }

  input[type="text"],
  select[class="form-control"], 
  input[type="new-post-form"], 
  textarea[class="form-control"] {
    background-color: white;
  }

  .navbar-nav {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }